html {
    font-family: 'Open Sans', sans-serif;
    background-color: #ffffff;
}

p {
    margin-left: 15%;
    line-height: 120%;
}

header {
    font-family: 'Zen Old Mincho', Georgia, serif;
    font-size: 25px;
    margin-top: -25px;
    margin-bottom: -10px;
    color:black;
}

hr {
    margin-top: -30px;
    width: 400px;
}

a {
    color:#6884FF;
}

#background {
    margin-right: 20%; /* change this to pixels, easier to work with */
    margin-left: 20%;
    margin-top: -19px;
    background-color: #e0e0e0;
}

#home:hover {
    color: #6884FF;
}

#pfp {
    height: 20%;
    width: 20%;
}

.title:link, .title:visited, .title:hover {
    color: black;
    text-decoration: none;
}

.title:active {
    color: #5572f3;
    text-decoration: none;
}

.title-text {
    text-align: center;
}

.about-me   {
    font-size: 40px;
    margin-bottom: 20px;
    padding-top: 40px;
}
