html  {
    font-family: 'Open Sans', sans-serif;
    background-color: #111111;
}
h1  {
    text-align: center;
    ;
}
p   {
    margin-left: 15%
}
.main   {
    border-style: solid #222222;
    margin-right: 25%;
    margin-left: 25%;
    margin-top: 15px;
    background-color: #222222;
}
div{
    color: white;
}
a {
    color: rgb(104, 132, 255);
}
header  {
    font-family: 'Zen Old Mincho', serif;
    font-size: 25px;
    margin-top: -25px;
    margin-bottom: -10px;
    color:black;
}
.title:link {
    color: #000000;
}

.title:visited {
    color: #000000;
}

.title:hover {
    color: #000000;
}

.title:active {
    color: #5572f3;
}