html {
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(34, 34, 34);
}

p {
    margin-left: 15%;
    line-height: 120%;
    color: white;
}

header {
    font-family: 'Zen Old Mincho', Georgia, serif;
    font-size: 25px;
    margin-top: -25px;
    text-align: center;
}

hr {
    margin-top: -30px;
    width: 400px;
}

a {
    color:#6884FF;
}

#background {
    margin-right: 20%;
    margin-left: 20%;
    margin-top: -19px;
    background-color: #3d3d3d;
}

#pfp {
    height: 194px;
    width: 194px;
    margin-left: 15%;
    line-height: 120%;
}

#about-me   {
    font-size: 40px;
    margin-bottom: 20px;
    padding-top: 40px;
    font-weight: bold;
    color: white;
}

.title:link, .title:visited, .title:hover {
    color: white;
    text-decoration: none;
}

.youtube:link, .youtube:visited, .youtube:hover    {
    color: orange;
}