body {
    background: #161416 !important;
}

.title:link, .title:visited, .title:hover {
    color: #e6e6e6;
    text-decoration: none;
}

header {
    font-family: 'Zen Old Mincho', Georgia, serif;
    margin-top: -25px;
    text-align: center;
}

.title-heading {
    border-bottom: 2px #6e6e6e solid;
    width: 400px;
    margin: auto;
    margin-top: 33.5px;
    font-size: 50px;
    padding-bottom: 3px;
}

.title-hr {
    margin-top: -30px;
    width: 400px;
    color: white;
    opacity: 0.4;
}

.projects-title {
    border-bottom: 2px #6e6e6e solid;
    width: 65.5%;
    margin: auto;
    margin-top: 50px;
    padding: 0 25px 8px 25px;
}

.projects-heading   {
    font-family: 'Open Sans', sans-serif;
    color: #e6e6e6;
    font-size: 25px;
}

.widget-1   {
    border: 0px solid white;
    color: white;
    width: 32%;
    margin: auto;
    margin-top: 15px;
    padding: 0 25px 8px 25px;
}

.widget-1:link, .widget-1:visited, .widget-1:hover  {
    background-color:#1b191b;
    color: white;
    text-decoration: none;
}

.widget-1 p.float-end {
    color: white;
}

.project-title, .project-title:link, .project-title:visited, .project-title:hover {
    font-family: 'Open Sans', sans-serif;
    padding-top: 4px;
    color:white;
}

.widget-sub:link, .widget-sub:visited, .widget-sub:hover {
    color: white;
    text-decoration: none;
}

@media (max-width: 1179px) {
    .project-title {
        font-family: 'Zen Old Mincho';
        color: green;
    }
  }