html {
    background-color: #161416;
}

.title:link, .title:visited, .title:hover {
    color: #e6e6e6;
    text-decoration: none;
}

header {
    font-family: 'Zen Old Mincho', Georgia, serif;
    margin-top: -25px;
    text-align: center;
}

.title-heading  {
    border-bottom: 2px #6e6e6e solid;
    width: 400px;
    margin: auto;
    margin-top: 33.5px;
    font-size: 50px;
    padding-bottom: 3px;
}

.title-hr {
    margin-top: -30px;
    width: 400px;
    color: white;
    opacity: 0.4;
}

.projects-title {
    border-bottom: 2px #6e6e6e solid;
    width: 1250px;
    margin: auto;
    margin-top: 50px;
    padding: 0 25px 8px 25px;
}

.projects-heading   {
    font-family: 'Open Sans', sans-serif;
    color: #e6e6e6;
    font-size: 25px;
}